<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <title>CodingNest - Pune's best AI and Machine Learning Classes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="top-bar py-3 bg-light" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-6 text-left">
            <ul class="social-media">
              <li><a href="https://www.facebook.com/codingnest/" class="p-2"><span class="icon-facebook"></span></a></li>
              <li><a href="https://www.github.com/codingnest" class="p-2"><span class="icon-github"></span></a></li>
          <!--    <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>-->
              <li><a href="https://www.linkedin.com/company/coding-nest/" class="p-2"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-6">
            <p class="mb-0 float-right">
              <span class="mr-3"><a href="tel:+917263994223"> <span class="icon-phone mr-2"></span><span class="d-none d-lg-inline-block">+91 7263994223</span></a></span>
              <span><a href="mailto:codingnest01@gmail.com"><span class="icon-envelope mr-2"></span><span class="d-none d-lg-inline-block">codingnest01@gmail.com</span></a></span>
            </p>

          </div>
        </div>
      </div>
    </div>

    <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0"><img src="{%static "images/logo.png" %}" alt="codingnest" width="200" /></a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#about-section" class="nav-link">About Us</a></li>
                <li><a href="#team-section" class="nav-link">Courses</a></li>
                <!--<li><a href="#services-section" class="nav-link"></a></li>-->

                <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
    <!--            <li><a href="#blog-section" class="nav-link">Blog</a></li>-->
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                <li><a href="#contact-section" class="nav-link mplogin-btn" >Login/Signup</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>


<div class="site-blocks-cover overlay" style= "background-image: url({%static 'images/slider/1.jpg' %});" data-aos="fade">
    <!--<div class="site-blocks-cover overlay" style= "background-image: url(images/slider/1.jpg);" data-aos="fade">-->
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

            <div class="row mb-4">

              <div class="offset-md-6 col-md-6 text-right">
                <h1>Let’s Change the world with Better Codes </h1>
                <p class="mb-5">Join us at Coding Nest to learn and innovate in the field of Artificial Intelligence, Data Science and Machine Learning.</p>
                <div>
                  <a href="#" class="btn btn-primary mr-2 mb-2">Get Started</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-md-6 mb-5 mb-lg-0 position-relative">
            <img src="{%static "images/about_1.jpg" %}" class="img-fluid" alt="Image">
            <div class="experience">
              <span class="year">10+ years</span>
              <span class="caption">of experience</span>
            </div>
          </div>
          <div class="col-md-5 ml-auto">
            <h3 class="section-sub-title">About Us</h3>
            <h2 class="section-title mb-3">Destination to Code.</h2>
            <p class="mb-4">Coding Nest is one of the best learning and development
center focused towards the training and innovations in the
field of advanced technologies like Artificial Inteeligence, Data
Science Science, Machine Learning, Deep Learning, Python,
Blockchain etc.</p>
            <p><a href="#" class="btn btn-primary btn-black--hover">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>

    <section class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h3 class="section-sub-title">Courses</h3>
            <h2 class="section-title mb-3">Our Courses</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="course text-center">
              <img src="{%static "images/courses/python_logo.png" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Python.</h3>
              <p class="position mpprice">Rs.15,000</p>
              <p class="mb-4 mpdesc">Programming fundamentals in Python. <br> (10 Lectures)</p>
              <p><a href="#" class="btn btn-primary btn-black--hover">Register</a></p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="course text-center">
              <img src="{%static "images/courses/AI-Logo.jpg" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Artificial Intelligence.</h3>
              <p class="position mpprice">Rs.15,000</p>
              <p class="mb-4 mpdesc">Fundamentals of Artificial Intelligence. <br> (10 Lectures)</p>
              <p><a href="#" class="btn btn-primary btn-black--hover">Register</a></p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="course text-center">
                <img src="{%static "images/courses/ds_logo.jpg" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
                <h3 class="mptitle">Data Science.</h3>
                <p class="position mpprice">Rs.15,000</p>
                <p class="mb-4 mpdesc">Fundamentals of Data Science. <br> (10 Lectures)</p>
                <p><a href="#" class="btn btn-primary btn-black--hover">Register</a></p>
                </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="course text-center">
              <img src="{%static "images/courses/dl.png" %}"alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Deep Learning.</h3>
              <p class="position mpprice">Rs.15,000</p>
              <p class="mb-4 mpdesc">Fundamentals of Deep Learning. <br> (10 Lectures)</p>
              <p><a href="#" class="btn btn-primary btn-black--hover">Register</a></p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="course text-center">
              <img src="{%static "images/courses/aws.png" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Amazon Web Service.</h3>
              <p class="position mpprice">Rs.15,000</p>
              <p class="mb-4 mpdesc">Fundamentals of Amazon Web Service. <br> (10 Lectures)</p>
              <p><a href="#" class="btn btn-primary btn-black--hover">Register</a></p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="course text-center">
                <img src="{%static "images/courses/bchain.jpg" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
                <h3 class="mptitle">Blockchain.</h3>
                <p class="position mpprice">Rs.15,000</p>
                <p class="mb-4 mpdesc">Fundamentals of Blockchain. <br> (10 Lectures)</p>
                <p><a href="#" class="btn btn-primary btn-black--hover">Register</a></p>
                </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Why CodingNest ?</h2>
            <h3 class="section-sub-title">Your journey never ends with us,we develop long term relationships with our students to help them at various stages of their career</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="{%static "images/why/1.jpg" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Placements</h3>
              <p class="mb-4 mpdesc">We do not make false promise to provide 100% placements, rather help students based on their performance. Our students are placed at bigwigs like Adobe, Amazon, Microsoft and many more.</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="person text-center">
              <img src="{%static "images/why/2.jpg" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Course Curriculum</h3>
              <p class="mb-4 mpdesc">Industry leading curriculum designed by expert developers turned educators who have invested time to create quality content infused with unique teaching methodology.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="person text-center">
              <img src="{%static "images/why/3.jpg" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Get Secured with Certificate</h3>
              <p class="mb-4 mpdesc">The Student will be provided the certificates which are signed by instructors and have our logo on it which will help them secure their career and increase job prospects with certificates signed by us.</p>
            </div>
          </div>
        </div>
        <br>


        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="{%static "images/why/1.jpg" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Placements</h3>
              <p class="mb-4 mpdesc">We do not make false promise to provide 100% placements, rather help students based on their performance. Our students are placed at bigwigs like Adobe, Amazon, Microsoft and many more.</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="person text-center">
              <img src="{%static "images/why/2.jpg" %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Course Curriculum</h3>
              <p class="mb-4 mpdesc">Industry leading curriculum designed by expert developers turned educators who have invested time to create quality content infused with unique teaching methodology.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="person text-center">
              <img src="{%static "images/why/3.jpg" %}"alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3 class="mptitle">Get Secured with Certificate</h3>
              <p class="mb-4 mpdesc">The Student will be provided the certificates which are signed by instructors and have our logo on it which will help them secure their career and increase job prospects with certificates signed by us.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section testimonial-wrap" id="testimonials-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h3 class="section-sub-title">People Says</h3>
            <h2 class="section-title mb-3">Testimonials</h2>
          </div>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
              </blockquote>

              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src=  "{%static "images/person_3.jpg" %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>John Smith</p>
              </figure>
            </div>
          </div>
          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src= "{%static "images/person_2.jpg" %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Christine Aguilar</p>
              </figure>

            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src= "{%static "images/person_4.jpg" %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Robert Spears</p>
              </figure>


            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src= "{%static "images/person_3.jpg" %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Bruce Rogers</p>
              </figure>

            </div>
          </div>

        </div>
    </section>


    <section class="site-section" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h3 class="section-sub-title">Where our Alumni works</h3>
            <h2 class="section-title mb-3">Companies</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 mb-4 mb-lg-4">
                      </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/flipkart.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/expedia.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/amazon.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/adobe.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/google.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>

          <div class="col-lg-1 mb-4 mb-lg-4">
                      </div>
        </div>




        <div class="row">
          <div class="col-lg-1 mb-4 mb-lg-4">
                      </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/microsoft.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/oyo.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/reliance.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/samsung.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-sm-4 mb-4 mb-lg-4">
            <div class="text-center">
              <img src="{%static "images/brands/walmart.jpg" %}" alt="Image" class="img-fluid img-thumbnail">
            </div>
          </div>

          <div class="col-lg-1 mb-4 mb-lg-4">
                      </div>
        </div>
      </div>
    </section>




    <section class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h3 class="section-sub-title">Services</h3>
            <h2 class="section-title mb-3">Our Services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 mb-5">



            <form action="#" class="p-5 bg-white">

              <h2 class="h4 text-black mb-5">Contact Form</h2>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="fname">Name</label>
                  <input type="text" id="name" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label>
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label>
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>


            </form>
          </div>

          <div class="col-md-5">

            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">Coding Nest 102 Second Floor, Nyati Eureka, Near Columbia Asia Hospital, Kharadi, Pune</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+91 7263994223</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">codingnest01@gmail.com</a></p>

            </div>
              <div class="p-4 mb-3 bg-white">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d334.3484517262912!2d73.93581489217482!3d18.541509529848724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c17e1c56afc5%3A0x4de4a23c002875f9!2sNyati%20Eureka%20(%20Commercial%20Complex)!5e0!3m2!1sen!2sin!4v1569752273208!5m2!1sen!2sin" width="400" height="390" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
          </div>
        </div>
      </div>
    </section>

    <a href="#" class="bg-primary py-5 d-block">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md10"><h2 class="text-white">Let's Get Started</h2></div>
        </div>
      </div>
    </a>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Coding Nest was founded in 2019 by
abmibious team from diverse
background of technology and business
with a mission to create better world by
developing future innovators through
right guidance.</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-section">About Us</a></li>
                  <li><a href="#team-section">Courses</a></li>
                  <li><a href="#testimonials-section">Testimonials</a></li>
                  <li><a href="#contact-section">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="https://www.facebook.com/codingnest/" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="https://www.github.com/codingnest" class="p-2"><span class="icon-github"></span></a>
            <!--    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>-->
                <a href="https://www.linkedin.com/company/coding-nest/" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by Monil Porwal
        </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "js/jquery-ui.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.stellar.min.js" %}"></script>
  <script src="{% static "js/jquery.countdown.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "js/aos.js" %}"></script>
  <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
  <script src="{% static "js/jquery.sticky.js" %}"></script>



  <script src="{% static "js/main.js" %}"></script>

  </body>
</html>
